<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="nacholab.showmethemoney">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>

    <application
            android:name=".MainApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <meta-data android:name="AA_DB_NAME" android:value="aa_smtm.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
        <meta-data android:name="AA_MODELS"
                android:value="nacholab.showmethemoney.model.Currency,nacholab.showmethemoney.model.MoneyAccount,nacholab.showmethemoney.model.MoneyRecord" />

        <meta-data android:name="DATABASE" android:value="sugar_smtm.db" />
        <meta-data android:name="VERSION" android:value="2" />
        <meta-data android:name="QUERY_LOG" android:value="true" />

        <service android:name=".sync.SyncAuthService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                    android:name="android.accounts.AccountAuthenticator"
                    android:resource="@xml/authenticator"/>
        </service>

        <service
                android:name=".sync.SyncService"
                android:exported="true"
                android:process=":sync">

            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data
                    android:name="android.content.SyncAdapter"
                    android:resource="@xml/syncadapter"/>
        </service>

        <provider
                android:name=".sync.SyncContentProvider"
                android:authorities="nacholab.showmethemoney.provider"
                android:exported="false"
                android:syncable="true"/>

        <activity
                android:name=".ui.activity.MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="userPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.AddRecordActivity" android:screenOrientation="userPortrait" />
        <activity android:name=".ui.activity.AddAccountActivity" android:screenOrientation="userPortrait" />
        <activity android:name=".ui.activity.AddCurrencyActivity" android:screenOrientation="userPortrait" />
        <activity android:name=".ui.activity.TestActivity" android:screenOrientation="userPortrait" />
        <activity android:name=".ui.activity.AuthActivity" android:screenOrientation="userPortrait" />

    </application>

</manifest>
